<ion-content class="ion-padding">

  <!-- logo arriba -->
  <div class="logo-container">
    <img src="assets/LogoMini.png" alt="Logo Clayens" class="logo">
  </div>

  <!-- Título -->
  <h1 class="title">EMPLEADO</h1>
  <p class="subtitle">Kiara Barrientos Salazas</p>

<div class="logo-container">
    <img src="assets/avatar.png"  class="logo">
  </div>

  <p class="subtitle">ACTIVA</p>
  <p class="subtitle">DESARROLLO</p>

  <!-- buscar boton -->
  <ion-button expand="block" shape="round" class="login-btn">
    Historial
  </ion-button>


</ion-content>
