<ion-content class="ion-padding">

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/LogoMini.png" alt="Logo Clayens" class="logo">
  </div>

  <!-- Título -->
  <h1 class="title">CLAYENS MEXICO</h1>
  <p class="subtitle">INICIAR SESION</p>

  <!-- Formulario -->
  <ion-item>
    <ion-input
      label="Email"
      labelPlacement="floating"
      type="email"
      [(ngModel)]="email"
      required>
    </ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      label="Password"
      labelPlacement="floating"
      [type]="hidePassword ? 'password' : 'text'"
      [(ngModel)]="password"
      required>
    </ion-input>
    <ion-button fill="clear" slot="end" (click)="togglePassword()">
      <ion-icon [name]="hidePassword ? 'eye-off' : 'eye'"></ion-icon>
    </ion-button>
  </ion-item>

  <!-- Botón login -->
  <ion-button expand="block" shape="round" class="login-btn" (click)="login()">
    Entrar
  </ion-button>

  <!-- Links -->
  <div class="links">
    <p>
      ¿Aun no tienes una cuenta?
      <a routerLink="/register">Registrar</a>
    </p>
    <p>
      ¿Olvidaste tu contraseña?
      <a routerLink="/recover">Recuperar cuenta</a>
    </p>
  </div>
</ion-content>
