<ion-content class="ion-padding">
<div class="logo-container">
    <img src="assets/LogoMini.png" alt="Logo Clayens" class="logo">
  </div>
  <ion-card class="filtro-card">
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Rango de Fechas</ion-label>
            <ion-input type="date" [(ngModel)]="fechaInicio"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked">Hasta</ion-label>
            <ion-input type="date" [(ngModel)]="fechaFin"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Planta</ion-label>
            <ion-select [(ngModel)]="planta" interface="popover">
              <ion-select-option value="planta1">Planta 1</ion-select-option>
                            <ion-select-option value="planta2">Planta 2</ion-select-option>

            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Departamento</ion-label>
            <ion-select [(ngModel)]="departamento" interface="popover">
              <ion-select-option value="all">Produccion</ion-select-option>
              <ion-select-option value="desarrollo">Desarrollo</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Status</ion-label>
            <ion-select [(ngModel)]="status" interface="popover">
              <ion-select-option value="asistencia">Activa</ion-select-option>
              <ion-select-option value="np">Terminada</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card class="tabla-container">
    <ion-row class="tabla-header">
      <ion-col><strong>Nombre</strong></ion-col>
      <ion-col><strong>Descripcion</strong></ion-col>
      <ion-col><strong>Fecha</strong></ion-col>
      <ion-col><strong>Status</strong></ion-col>
            <ion-col><strong>Responsable</strong></ion-col>

    </ion-row>

    <ion-row *ngFor="let item of historial">
      <ion-col>{{ item.tarea }}</ion-col>
      <ion-col>{{ item.descripciontarea }}</ion-col>
      <ion-col>{{ item.fecha }}</ion-col>
      <ion-col>
        <ion-icon [name]="item.statusIcon" [color]="item.statusColor"></ion-icon>
        {{ item.statusTexto }}
      </ion-col>
<ion-col size="4">
          <ion-item>
            <ion-label position="stacked">Responsable</ion-label>
            <ion-select [(ngModel)]="status" interface="popover">
              <ion-select-option value="empleados">{{ item.empleado }}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      
    </ion-row>
  </ion-card>

</ion-content>
