<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <img src="assets/LogoMini.png" alt="Logo" class="logo-header">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="card card-naranja center-content">
    <ion-card-content>
      <p class="texto blanco">Empleados activos: 200</p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card class="card card-roja center-content">
          <ion-card-content>
            <ion-icon name="close-circle" color="danger"></ion-icon>
            <p class="texto blanco">Ausentes:<br>50</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card class="card card-verde center-content">
          <ion-card-content>
            <ion-icon name="checkmark-circle" color="success"></ion-icon>
            <p class="texto blanco">Presentes:<br>150</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid> <ion-row> <ion-col size="12"> <ion-card class="card card-naranja" (click)="verAsistenciaHoy()"> <ion-card-content class="center-content"> <ion-icon src="assets/icon/calendar-icon.svg" class="icono"></ion-icon> <p class="texto blanco">Ver asistencia de hoy</p> </ion-card-content> </ion-card> </ion-col> </ion-row> <ion-row> <ion-col size="12"> <ion-card class="card card-blanca" (click)="verHistorico()"> <ion-card-content class="center-content"> <ion-icon src="assets/icon/historico-icon.svg" class="icono"></ion-icon> <p class="texto oscuro">Historico de asistencia</p> </ion-card-content> </ion-card> </ion-col> </ion-row> </ion-grid>

</ion-content>
