.logo-container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.logo {
  width: 80px;
  height: auto;
}

.card {
  border-radius: 12px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  ion-card-content {
    padding: 10px;
  }

  .center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .icono {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }

  .texto {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
  }

  .blanco {
    color: white;
  }

  .oscuro {
    color: #1e1e1e;
  }
}

.card-naranja {
  background-color: #f27c0a;
  color: white;
}

.card-blanca {
  background-color: #ffffff;
}

