<ion-content class="ion-padding">
  <div class="logo-container">
    <img src="assets/LogoMini.png" alt="Logo Clayens" class="logo">
  </div>
  <ion-grid>

    <ion-row>
      <ion-col size="6">
        <ion-card class="card card-naranja">
          <ion-card-content class="center-content">
            <ion-icon name="person" size="large"></ion-icon>
            <p class="numero">Cambiar metricas del documento 213</p>
            <p class="texto">Cambiar las metricas del documento 213 del proyecto Aguanaval</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="card">
          <ion-card-content class="center-content">
            <div class="circle"></div>
            <p class="numero">Actualizar desarrollo</p>
            <p class="texto">Hacer merge a las ultimas actividades</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card class="card">
          <ion-card-content class="center-content">
            <p class="numero">Sin actividad.</p>
            <p class="texto">No aplica</p>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card class="card card-naranja">
          <ion-card-content class="center-content">
            <p class="numero">Sin actividad.</p>
            <p class="texto">No aplica</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

  </ion-grid>

</ion-content>
