.menu-content {
  --background: #2c3e50;
  color: white;
}

ion-item {
  --background: transparent;
  --color: white;
  font-weight: bold;
}

.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: white;
  margin: 8px 0;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.footer-logo {
  height: 30px;
}

.empresa {
  color: #f28c28;
  margin: 5px 0 0 0;
}
